.deleteAccountDialog {
    border-radius: 12px;
    padding: 16px;
}

.title {
    color: #d32f2f;
    font-weight: bold;
}

.warning {
    margin: 16px 0;
    color: #d32f2f;
}

.input {
    margin: 16px 0;
}

.buttonGroup {
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.cancelButton {
    color: #666;
}

.deleteButton {
    background-color: #d32f2f;
    color: white;
    &:hover {
        background-color: #b71c1c;
    }
} 